<layout direction="vertical" resizable="true" height="500">
    <layout-top height="50">Top</layout-top>
    <layout-center>
        <layout-left>Left</layout-left>
        <layout-right>
            <layout direction="vertical" resizable="true">
                <layout-top>Right Top</layout-top>
                <layout-center>
                    <layout-left>Center Left</layout-left>
                    <layout-right>Center Right</layout-right>
                </layout-center>
            </layout>
        </layout-right>
    </layout-center>
    <layout-bottom height="30">Bottom</layout-bottom>
</layout>