<section class="index-template-view">
    <section class="index-ct">
        <section class="header-ct">header part</section>
        <section class="carousel-ct">
            <ui-carousel>
                <div class="item active"><h1>JavaScript</h1></div>
                <div class="item"><h1>CSS</h1></div>
                <div class="item"><h1>HTML</h1></div>
                <div class="item"><h1>HTML5</h1></div>
                <div class="item"><h1>CSS3</h1></div>
            </ui-carousel>
        </section>
        <section class="overview-ct overview-one-ct">
            <div class="caption">功能向导</div>
            <div class="detail" flex flex-align="row-around-center">
                <div>
                    <div>img logo1</div>
                    <div>功能1</div>
                    <div>
                        <ui-button size="large" class="ui-primary" ng-click="ctrl.immediateUse('func1')">立即使用</ui-button>
                    </div>
                </div>
                <div>
                    <div>img logo2</div>
                    <div>功能2</div>
                    <div>
                        <ui-button size="large" class="ui-primary" ng-click="ctrl.immediateUse('func2')">立即使用</ui-button>
                    </div>
                </div>
                <div>
                    <div>img logo3</div>
                    <div>功能3</div>
                    <div>
                        <ui-button size="large" class="ui-primary" ng-click="ctrl.immediateUse('func3')">立即使用</ui-button>
                    </div>
                </div>
                <div>
                    <div>img logo4</div>
                    <div>功能4</div>
                    <div>
                        <ui-button size="large" class="ui-primary" ng-click="ctrl.immediateUse('func4')">立即使用</ui-button>
                    </div>
                </div>
            </div>
        </section>
        <section class="overview-ct overview-two-ct">
            <div class="caption">运行数据</div>
            <div class="detail" flex flex-align="row-around-center">
                <div>
                    <div>100000W</div>
                    <div>数据一</div>
                </div>
                <div>
                    <div>1000S</div>
                    <div>数据二</div>
                </div>
                <div>
                    <div>1000次</div>
                    <div>数据三</div>
                </div>
            </div>
        </section>
        <section class="overview-ct overview-three-ct">
            <div class="caption">应用案例</div>
            <div class="detail" flex flex-align="row-around-center">
                
            </div>
        </section>
        <section class="footer-ct">
            <div>
                <span>
                    Hi群: <a href="baidu://message/?id=xxxxxxx" title="hi">xxxxxxx</a>
                </span>
                <span>
                    邮箱: <a href="mailto:xxx@baidu.com" title="邮箱">xxx@baidu.com</a>
                </span>
                <span>Copyright©2017</span>
            </div>
        </section>
    </section>
</section>